In [37]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

## The purpose of this work is to predict binding energy between chitosan and collagen type II

In [38]:
df = pd.read_csv('./Files/All_data_combined.csv')

In [39]:
df.describe()

,Unnamed: 0,DD,HD,Variant,Position,Binding_Energy
count,37836.000000,37836.000000,37836.000000,37836.000000,37836.000000,37836.000000
mean,18917.500000,0.513479,0.518282,2.939053,21.179274,-296.496320
std,10922.456729,0.258003,0.291501,1.432757,12.044154,114.312392
min,0.000000,0.125000,0.000000,1.000000,1.000000,-790.240000
25%,9458.750000,0.250000,0.290000,2.000000,11.000000,-372.187500
50%,18917.500000,0.500000,0.570000,3.000000,21.000000,-291.500000
75%,28376.250000,0.750000,0.710000,4.000000,31.000000,-215.397500
max,37835.000000,1.000000,1.000000,5.000000,48.000000,359.680000

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37836 entries, 0 to 37835
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      37836 non-null  int64
 1   DD              37836 non-null  float64
 2   HD              37836 non-null  float64
 3   Variant         37836 non-null  int64
 4   Position        37836 non-null  int64
 5   Binding_Energy  37836 non-null  float64
dtypes: float64(3), int64(3)
memory usage: 1.7 MB

In [41]:
df = df.dropna(axis=0,how='any')

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37836 entries, 0 to 37835
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      37836 non-null  int64
 1   DD              37836 non-null  float64
 2   HD              37836 non-null  float64
 3   Variant         37836 non-null  int64
 4   Position        37836 non-null  int64
 5   Binding_Energy  37836 non-null  float64
dtypes: float64(3), int64(3)
memory usage: 1.7 MB

In [43]:
df.isnull().values.any()

False

In [44]:
#df = df.query('HD==0.71')

In [45]:
x = df.drop(columns='Binding_Energy')
y = df['Binding_Energy']
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)
print(x_train.shape)

(30268, 5)

# Building a model

In [46]:
from sklearn.linear_model import LinearRegression
classifier_lr = LinearRegression()
reg = classifier_lr.fit(x_train, y_train)

In [47]:
reg.score(x_train, y_train)

0.23718822971414932