In [32]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

## The purpose of this work is to predict binding energy between chitosan and collagen type II

In [33]:
df = pd.read_csv('./Files/All_data_combined.csv')

In [34]:
df.describe()

,Unnamed: 0,DD,HD,Binding_Energy,DD.1,HD.1,Hydrogen Bonds_ALA,Hydrogen Bonds_ARG,Hydrogen Bonds_GLN,Hydrogen Bonds_GLU,...,DD.3,HD.3,Ionic Interactions_ALA,Ionic Interactions_ARG,Ionic Interactions_GLN,Ionic Interactions_GLU,Ionic Interactions_GLY,Ionic Interactions_HYP,Ionic Interactions_LEU,Ionic Interactions_PRO
count,17818.000000,17818.000000,17818.000000,17818.000000,10401.000000,10401.000000,10401.000000,10401.000000,10401.000000,10401.000000,...,10401.000000,10401.000000,10401.0,10401.0,10401.0,10401.000000,10401.000000,10401.000000,10401.0,10401.000000
mean,8908.500000,0.624214,0.573268,-303.444549,0.444765,0.368095,0.540364,0.344666,0.406065,0.470218,...,0.444765,0.368095,0.0,0.0,0.0,0.142325,0.013727,0.001309,0.0,0.000012
std,5143.757884,0.284349,0.324720,117.854494,0.248242,0.283069,0.551955,0.451589,0.502916,0.525862,...,0.248242,0.283069,0.0,0.0,0.0,0.322502,0.113151,0.030397,0.0,0.001000
min,0.000000,0.125000,0.000000,-770.894097,0.125000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.125000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000
25%,4454.250000,0.375000,0.290000,-381.834573,0.375000,0.290000,0.000000,0.000000,0.000000,0.000000,...,0.375000,0.290000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000
50%,8908.500000,0.500000,0.430000,-298.504565,0.375000,0.290000,0.451613,0.096774,0.064516,0.258065,...,0.375000,0.290000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000
75%,13362.750000,0.875000,0.860000,-220.620540,0.500000,0.430000,0.935484,0.677419,0.838710,0.903226,...,0.500000,0.430000,0.0,0.0,0.0,0.032258,0.000000,0.000000,0.0,0.000000
max,17817.000000,1.000000,1.000000,359.680548,1.000000,1.000000,3.387097,2.935484,2.935484,2.806452,...,1.000000,1.000000,0.0,0.0,0.0,2.935484,2.967742,1.000000,0.0,0.096774

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17818 entries, 0 to 17817
Data columns (total 34 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Unnamed: 0                    17818 non-null  int64
 1   DD                            17818 non-null  float64
 2   HD                            17818 non-null  float64
 3   Binding_Energy                17818 non-null  float64
 4   DD.1                          10401 non-null  float64
 5   HD.1                          10401 non-null  float64
 6   Hydrogen Bonds_ALA            10401 non-null  float64
 7   Hydrogen Bonds_ARG            10401 non-null  float64
 8   Hydrogen Bonds_GLN            10401 non-null  float64
 9   Hydrogen Bonds_GLU            10401 non-null  float64
 10  Hydrogen Bonds_GLY            10401 non-null  float64
 11  Hydrogen Bonds_HYP            10401 non-null  float64
 12  Hydrogen Bonds_LEU            10401 non-null  float64
 13  Hydrogen Bonds_PRO            10401 non-null  float64
 14  DD.2                          10401 non-null  float64
 15  HD.2                          10401 non-null  float64
 16  Hydrophobic Interactions_ALA  10401 non-null  float64
 17  Hydrophobic Interactions_ARG  10401 non-null  float64
 18  Hydrophobic Interactions_GLN  10401 non-null  float64
 19  Hydrophobic Interactions_GLU  10401 non-null  float64
 20  Hydrophobic Interactions_GLY  10401 non-null  float64
 21  Hydrophobic Interactions_HYP  10401 non-null  float64
 22  Hydrophobic Interactions_LEU  10401 non-null  float64
 23  Hydrophobic Interactions_PRO  10401 non-null  float64
 24  DD.3                          10401 non-null  float64
 25  HD.3                          10401 non-null  float64
 26  Ionic Interactions_ALA        10401 non-null  float64
 27  Ionic Interactions_ARG        10401 non-null  float64
 28  Ionic Interactions_GLN        10401 non-null  float64
 29  Ionic Interactions_GLU        10401 non-null  float64
 30  Ionic Interactions_GLY        10401 non-null  float64
 31  Ionic Interactions_HYP        10401 non-null  float64
 32  Ionic Interactions_LEU        10401 non-null  float64
 33  Ionic Interactions_PRO        10401 non-null  float64
dtypes: float64(33), int64(1)
memory usage: 4.6 MB

In [41]:
df = df.dropna(axis=0,how='any')

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10401 entries, 0 to 10400
Data columns (total 34 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Unnamed: 0                    10401 non-null  int64
 1   DD                            10401 non-null  float64
 2   HD                            10401 non-null  float64
 3   Binding_Energy                10401 non-null  float64
 4   DD.1                          10401 non-null  float64
 5   HD.1                          10401 non-null  float64
 6   Hydrogen Bonds_ALA            10401 non-null  float64
 7   Hydrogen Bonds_ARG            10401 non-null  float64
 8   Hydrogen Bonds_GLN            10401 non-null  float64
 9   Hydrogen Bonds_GLU            10401 non-null  float64
 10  Hydrogen Bonds_GLY            10401 non-null  float64
 11  Hydrogen Bonds_HYP            10401 non-null  float64
 12  Hydrogen Bonds_LEU            10401 non-null  float64
 13  Hydrogen Bonds_PRO            10401 non-null  float64
 14  DD.2                          10401 non-null  float64
 15  HD.2                          10401 non-null  float64
 16  Hydrophobic Interactions_ALA  10401 non-null  float64
 17  Hydrophobic Interactions_ARG  10401 non-null  float64
 18  Hydrophobic Interactions_GLN  10401 non-null  float64
 19  Hydrophobic Interactions_GLU  10401 non-null  float64
 20  Hydrophobic Interactions_GLY  10401 non-null  float64
 21  Hydrophobic Interactions_HYP  10401 non-null  float64
 22  Hydrophobic Interactions_LEU  10401 non-null  float64
 23  Hydrophobic Interactions_PRO  10401 non-null  float64
 24  DD.3                          10401 non-null  float64
 25  HD.3                          10401 non-null  float64
 26  Ionic Interactions_ALA        10401 non-null  float64
 27  Ionic Interactions_ARG        10401 non-null  float64
 28  Ionic Interactions_GLN        10401 non-null  float64
 29  Ionic Interactions_GLU        10401 non-null  float64
 30  Ionic Interactions_GLY        10401 non-null  float64
 31  Ionic Interactions_HYP        10401 non-null  float64
 32  Ionic Interactions_LEU        10401 non-null  float64
 33  Ionic Interactions_PRO        10401 non-null  float64
dtypes: float64(33), int64(1)
memory usage: 2.8 MB

In [43]:
df.isnull().values.any()

False

In [44]:
x = df.drop(columns='Binding_Energy')
y = df['Binding_Energy']
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)
print(x_train.shape)

(8320, 33)

# Building a model

In [49]:
from sklearn.linear_model import LinearRegression
classifier_lr = LinearRegression()
reg = classifier_lr.fit(x_train, y_train)

In [50]:
reg.score(x_train, y_train)

0.17264540510102078